<div *ngIf="currentCharacter">
  <div class="card shadow-sm m-3 border-0" style="width: 20rem">
    <div class="p-3">
      <img
        [src]="currentCharacter.imagePath"
        class="card-img-top p-3 rounded"
        [alt]="currentCharacter.name"
      />

      <div class="card-body text-center">
        <h5 class="card-title mb-4">{{ questionText }}</h5>

        <div class="d-flex flex-wrap justify-content-center">
          <button
            *ngFor="let choice of choices"
            type="button"
            class="btn btn-outline-primary m-1"
            (click)="register(choice)"
          >
            {{ choice }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
