<div class="card shadow-sm m-3 border-0 m-3" style="width: 20rem">
  <div class="p-3">
    <img
      [src]="character.imagePath"
      class="card-img-top p-3 rounded"
      [alt]="character.name"
    />
    <div class="card-body text-center">
      <h5 class="card-title mb-4">{{ character.name }} の所属県はどこ？</h5>

      <div class="list-group flex-row">
        <button
          type="button"
          class="list-group-item list-group-item-action ps-3"
        >
          a. 北海道
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action ps-3"
        >
          a. 北海道
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action ps-3"
        >
          a. 北海道
        </button>
        <button
          type="button"
          class="list-group-item list-group-item-action ps-3"
        >
          a. 北海道
        </button>
      </div>
    </div>
  </div>
</div>
