<div class="m-3">
  <h1>ゆるキャラクイズへようこそ！</h1>
  <ul>
    <li>263のゆるキャラの名前、出身県を当てるクイズです。</li>
    <li>正答率や回答履歴はブラウザにlocalstrageとして保存されます。</li>
    <li>AngularJSで動作するシンプルな構成のアプリとなっています。</li>
  </ul>

  <p>
    制作者:
    <a
      href="https://github.com/bmi921/fullmarks-internship"
      target="_blank"
      rel="noopener noreferrer"
    >
      bmi921
    </a>
  </p>
  <p>
    <a
      href="https://www.yurugp.jp/yvs/vote/rankings/year/2023"
      target="_blank"
      rel="noopener noreferrer"
    >
      ゆるキャラグランプリ公式サイト
    </a>
    を参考にクイズを作成させていただきました。<br />
    このウェブアプリは<a
      href="https://www.fullmarks.co.jp/"
      target="_blank"
      rel="noopener noreferrer"
    >
      株式会社fullmarks </a
    >の2025年サマーインターンの一環として作成されました。
  </p>
  <a routerLink="/quiz" class="btn btn-primary mt-3">クイズを始める</a>
</div>
